[submodule "vim/pack/otherchris/start/vim-surround"]
	path = vim/pack/otherchris/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/otherchris/start/ctrlp"]
	path = vim/pack/otherchris/start/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/pack/otherchris/start/vim-sensible"]
	path = vim/pack/otherchris/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/pack/otherchris/start/vim-fugitive"]
	path = vim/pack/otherchris/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/otherchris/start/closetagy"]
	path = vim/pack/otherchris/start/closetagy
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/otherchris/start/closetag"]
	path = vim/pack/otherchris/start/closetag
	url = git@github.com:alvan/vim-closetag.git
[submodule "vim/pack/otherchris/start/nerdcommenter"]
	path = vim/pack/otherchris/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "vim/vim-colorschemes"]
	path = vim/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/pack/otherchris/start/vim-airline"]
	path = vim/pack/otherchris/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/otherchris/start/tsuquyomi"]
	path = vim/pack/otherchris/start/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "vim/pack/otherchris/start/typescript-vim"]
	path = vim/pack/otherchris/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/pack/otherchris/start/delimitMate"]
	path = vim/pack/otherchris/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim/pack/otherchris/start/nerdtree"]
	path = vim/pack/otherchris/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/pack/otherchris/start/vim-jsx-typescript"]
	path = vim/pack/otherchris/start/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
[submodule "vim/pack/otherchris/start/syntastic"]
	path = vim/pack/otherchris/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/pack/otherchris/start/vim-elixir"]
	path = vim/pack/otherchris/start/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule "vim/pack/otherchris/start/neomake"]
	path = vim/pack/otherchris/start/neomake
	url = https://github.com/neomake/neomake.git
[submodule "vim/pack/otherchris/start/taboo"]
	path = vim/pack/otherchris/start/taboo
	url = https://github.com/gcmt/taboo.vim.git
[submodule "vim/pack/otherchris/start/vim-gitgutter"]
	path = vim/pack/otherchris/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
